$DISCORD_BLUE: #7289da;
// $DISCORD_Black_1: #424549;
$DISCORD_Black_1: #40444b;
// $DISCORD_Black_2: #36393e;
$DISCORD_Black_2: #2f3136;
$DISCORD_Black_3: #282b30;
$DISCORD_Black_4: #1e2124;
// $DISCORD_Black_4: #1e2124;
