@import "src/Scss_Variable.scss";

.detailsContainer {
  flex: 0.33;
  background-color: $DISCORD_Black_2;
  .detailsWrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    color: white;
    flex-direction: column;
    background-color: $DISCORD_Black_4;
    // position: relative;
  }
}
@media only screen and (max-width: $MAX_Width) {
  .detailsContainer {
    width: 90vw !important;
    flex: auto !important;
    // background-color: red !important;
  }
}
